html
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;}
.header{background-color:#FFF;}
.titleweb{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.17;
    font-weight: 700;
    text-transform: uppercase;
    color:#4d5ae5;
    letter-spacing: 0.03em;
    }
.span{color:#2e2f42;}
.adress{
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;}
.adress:hover{color:#404bbf;}
.adress:focus{color: #404bbf;}


.links{ color:#2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;}
.links:hover:hover{color: #404bbf;}
.links:focus:focus{color:#404bbf;}



.main-title{background:#2E2F42;}

.esyb{
    font-family: "Roboto", sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.12px;
    font-size: 56px;
    line-height: 1.07;}
.button-main{
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    color:#ffffff;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;}
.button-main:hover{background-color: #404BBF;}
.button-main:focus{background-color: #404BBF;}

skills .one.stra{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
skills .one.text-str{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}
skills  .two.punct{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
skills  .two.text-punct{
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;}
skills  .tree.diling{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;}
skills .tree.text-dil{
    font-size: 16px;
    line-height: 1.5;}
skills .four.techno {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;}
skills .four.text-tech{
    font-size: 16px;
    line-height: 1.5;}



.staff{background-color: #F4F4FD;}
.team {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
products{background-color: #FFFFFF}

products .product-desig.name-des{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
products .product-desig.text-des{ 
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;}
products .marketc.name-marketing { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
products .market.text-market{ 
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;}

products .frontend-develop.name-frontend{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
products .frontend-develop.text-front{ 
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;}
products .ui-designer name-ui{ 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
products .ui-designer.text-ui{ 
    font-size: 16px;
    letter-spacing:0.02em;
    line-height: 1.5;
    color: #434455;}


.our-port{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    }  
.bank{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.text-bank{
    color:#434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.pay{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-pay{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.meditation{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.text-medi{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.taxi{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-taxi{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.screen{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-scren{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.online{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.text-online {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    .foot{background-color:#2E2F42}    
.titlefoot{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.footer-span{color:#f4f4fd;}
.foot-text{
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}